<div class="contact">
  <h1 class="contact__header">
    Contact with us
  </h1>
  <mat-form-field class="contact__field">
    <mat-label>Your email address (let us answer you)</mat-label>
    <input [formControl]="emailControl" type="email" matInput>
    <mat-error *ngIf="emailControl.invalid && emailControl.errors.required">This field is required</mat-error>
    <mat-error *ngIf="emailControl.invalid && emailControl.errors.email">Please enter proper email address</mat-error>
  </mat-form-field>
  <mat-form-field class="contact__field">
    <mat-label>Your message</mat-label>
    <textarea [formControl]="messageControl" class="contact__textarea" matInput></textarea>
    <mat-error *ngIf="messageControl.invalid && messageControl.errors.required">This field is required</mat-error>
  </mat-form-field>
  <p class="contact__error">Unexpected error, try again later</p>
  <button [disabled]="!emailControl.valid || !messageControl.valid" (click)="sendContactData()" class="contact__submit">Submit</button>
</div>
