<mat-sidenav-container class="example-container">
  <mat-sidenav class="side-nav" mode="side" opened>
    <mat-list>
      <mat-list-item class="side-nav-item">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>Users</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="side-nav-item">
        <mat-icon mat-list-icon>menu_book</mat-icon>
        <div mat-line>Books</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="side-nav-item">
        <mat-icon mat-list-icon>receipt_long</mat-icon>
        <div mat-line>Orders Tracking</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item class="side-nav-item">
        <mat-icon mat-list-icon>signal_cellular_alt</mat-icon>
        <div mat-line>Reports and Analytics</div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">الحشوة</mat-sidenav-content>
</mat-sidenav-container>