<mat-sidenav-container class="example-container">
  <mat-sidenav class="side-nav" mode="side" opened>
    <mat-selection-list multiple="false" (selectionChange)="onSelectionChange($event)">
      <mat-list-option [selected]="link.value == selectedOption" *ngFor="let link of sidenavLinks" [value]="link.value" class="side-nav-item">
        <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
        <div mat-line>{{link.title}}</div>
      </mat-list-option>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav-content [ngSwitch]="selectedOption" class="side-nav-content">
    <div *ngSwitchCase="'books'">
      <app-books-section></app-books-section>
    </div>
    <div *ngSwitchCase="'users'">
      users
    </div>
    <div *ngSwitchCase="'orders'">
      orders
    </div>
    <div *ngSwitchCase="'reports'">
      reports
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>