<app-loading-spinner *ngIf="!booksLoaded" color="#2B2D42"></app-loading-spinner>
<div class="cart" *ngIf="booksLoaded">
  <h1 class="cart__heading">
    Your cart
  </h1>
  <p class="cart__disc" *ngIf="!cartItems.length">Your cart is empty</p>
  <app-book-cart [book]="item" *ngFor="let item of cartItems" [qty]="item.quantity"
    (productEdited)="editProductInCart($event)"></app-book-cart>
  <p class="cart__value" *ngIf="cartValue !== 0">
    <span class="cart__valueTitle">Price: </span>
    {{cartValue | currency:'&nbsp;'}}&nbsp;$
  </p>
  <p class="cart__disc" *ngIf="!loggedIn">
    You are not logged in, you can place order but you will not have access to order history, and you will can not
    review books that you bought. Please consider registering.
  </p>
  <div class="col-12 d-flex flex-column align-items-end justify-content-end mt-4">
    <p>Your Wallet: {{wallet | currency}}</p>
    <button class="d-flex align-items-center" color="primary" mat-raised-button [disabled]="onGoingRequest"
      type="button" (click)="placeOrder()">
      Order & Pay
      <mat-icon>paid</mat-icon>
    </button>
  </div>
</div>