.product {
  max-width: 1200px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "photo photo"
    "name name"
    "author price"
    "reviews reviews"
}

.product__img {
  width: 100%;
  grid-area: photo;
}

.product__name {
  font-weight: 700;
  font-size: 2em;
  grid-area: name;
  margin: 0.5em 0;
}

.product__author {
  grid-area: author;
  font-size: 1.125em;
  line-height: 1.3em;
}

.product__price {
  font-size: 1.125em;
  grid-area: price;
  text-align: right;
  line-height: 1.3em;
}

.product__price--discounted {
  text-decoration: line-through;
  font-size: 0.95em;
}

.product__pricePromo {
  font-weight: 600;
  font-size: 1.125em;
  color: #ef233c;
}

.product__reviews{
  grid-area: reviews;
}
