.footer {
  width: 100%;
  background-color: #EDF2F4;
  box-shadow: 0 -10px 5px 0 rgba(70, 70, 70, 0.4);
  z-index: 11;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

.footer__logo {
  max-width: 300px;
  width: 100%;
}

.footer__navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px 0;
}

.footer__link {
  color: #2B2D42;
  text-decoration: none;
  font-weight: 600;
  padding: 0 5px;
  font-size: 1.2em;
}

.footer__copy {
  color: #2B2D42;
  font-size: 0.85em;
  margin: 10px 0;
}

@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__socials {
    margin-left: auto;
    margin-right: 25px;
  }

  .footer__navigation {
    margin-left: 25px;
  }

  .footer__link {
    padding: 0 10px;
  }

  .footer__logo {
    max-width: 220px;
  }
}
