<footer class="footer">
  <img class="footer__logo" alt="BookStore logo" src="assets/logo.png">
  <div class="footer__navigation">
    <a class="footer__link" routerLink="/bestsellers">
      Bestsellers
    </a>
    <a class="footer__link" routerLink="/sales">
      Sales
    </a>
    <a class="footer__link" routerLink="/new">
      New
    </a>
    <a class="footer__link" routerLink="/browse">
      Browse
    </a>
    <a class="footer__link" routerLink="/about-us">
      About us
    </a>
    <a class="footer__link" routerLink="/contact">
      Contact
    </a>
  </div>
  <div class="footer__socials">
    <a href="https://facebook.com" target="_blank">
      <fa-icon class="footer__icon" [icon]="faFacebook" size="2x"></fa-icon>
    </a>
    <a href="https://instagram.com" target="_blank">
      <fa-icon class="footer__icon" [icon]="faInstagram" size="2x"></fa-icon>
    </a>
    <a href="https://twitter.com" target="_blank">
      <fa-icon class="footer__icon" [icon]="faTwitter" size="2x"></fa-icon>
    </a>
  </div>
  <p class="footer__copy">
    &copy;2020 - 2021, Paweł Błaszczyk
  </p>
</footer>
