.header {
  width: 100%;
  background-color: #EDF2F4;
  box-shadow: 0 10px 5px 0 rgba(70, 70, 70, 0.4);
  position: fixed;
  top: 0;
  z-index: 12;
  transition: height 0.2s ease-out,
              transform 0.5s;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  align-items: center;
  margin-bottom: 30px;
}

.header__logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 80%;
  margin-right: 20px
}

.header__logo {
  max-width: 100%;
  max-height: 100%;
}

.nav {
  display: flex;
}

.nav__icon {
  display: block;
  color: #2B2D42;
  cursor: pointer;
  margin: 3px;
}

.nav__icon--tablet {
  display: none;
}

.nav__icon--mobile {
  color: white;
  margin: 10px 15px;
}

.nav__links {
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  background-color: #2B2D42;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-size: 1.65rem;
  padding: 10px 25px;
  text-align: center;
}

.nav__link:hover {
  background-color: #8D99AE;
  color: white;
}

.nav__link--active {
  background-color: #EDF2F4;
  color: #2B2D42;
}

.nav__iconsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__iconContainer {
  position: relative;
}

@media screen and (min-width: 660px) {
  .nav__icon--tablet {
    display: block;
  }

  .nav__icon--mobile {
    display: none;
  }

  .nav__icon {
    width: 35px;
    height: 35px;
    margin: 10px 15px;
  }
}

@media screen and (min-width: 1200px) {
  .nav__links {
    position: static;
    display: flex;
    flex-direction: row;
    width: unset;
    height: unset;
    background-color: unset;
  }

  .nav__icon {
    order: 2;
  }

  .nav__iconContainer {
    order: 2;
    position: relative;
  }

  .nav__link {
    color: #2B2D42;
    font-weight: 600;
  }

  .nav__link:hover {
    background-color: #8D99AE;
    color: white;
  }

  .nav__link--active {
    background-color: #2B2D42;
    color: white;
  }

  .nav__icon--hamburger {
    display: none;
  }

  .nav__link {
    padding: 10px 15px;
    font-size: 1.35em;
  }

  .header {
    padding: 15px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 15px 25px;
  }

  .nav__link {
    padding: 10px 20px;
    font-size: 1.45em;
  }
}
