<header class="header" [ngStyle]="{transform: navTransformString}">
  <mat-toolbar>
    <div class="d-flex site-logo" routerLink="/">Book Store</div>
    <span class="toolbar-spacer"></span>
    <div class="d-flex align-items-center gap-4 mx-4">
      <a class="toolbar-nav-link" routerLinkActive="toolbar-nav-link_active" routerLink="/sales">
        Sales
      </a>
      <a class="toolbar-nav-link" routerLink="/recommendations" routerLinkActive="toolbar-nav-link_active">
        Recommend Me
      </a>
      <a class="toolbar-nav-link" routerLink="/contact" routerLinkActive="toolbar-nav-link_active">
        Contact Us
      </a>
      <a *ngIf="isAdmin" class="toolbar-nav-link" routerLink="/admin" routerLinkActive="toolbar-nav-link_active">
        Admin Dashboard
      </a>
    </div>
    <div *ngIf="!loggedIn">
      <button routerLink="/login" class="login-btn" mat-flat-button color="primary">
        Login
      </button>
    </div>
    <div *ngIf="loggedIn">
      <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon"
        aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button routerLink="/user" mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button routerLink="/cart" mat-menu-item>
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
      <mat-divider></mat-divider>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</header>