<header class="header" [ngStyle]="{transform: navTransformString}">
  <mat-toolbar color="primary">
    <div class="d-flex site-logo" routerLink="/">Book Store</div>
    <span class="toolbar-spacer"></span>
    <div class="d-flex align-items-center gap-4 mx-4">
      <a class="toolbar-nav-link" routerLinkActive="toolbar-nav-link_active" routerLink="/sales">
        Sales
      </a>
      <a class="toolbar-nav-link" routerLink="/recommendations" routerLinkActive="toolbar-nav-link_active">
        Recommendations
      </a>
      <a class="toolbar-nav-link" routerLink="/contact" routerLinkActive="toolbar-nav-link_active">
        Contact
      </a>
    </div>
    <button routerLink="/cart" mat-icon-button class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button routerLink="/user" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</header>