<header class="header" [ngStyle]="{height: height + 'px', transform: navTransformString}">
  <a class="header__logoContainer" routerLink="">
    <img class="header__logo" alt="BookStore logo" src="assets/logo.png"/>
  </a>
  <nav class="nav">
    <div class="nav__iconContainer nav__icon--tablet">
      <app-number-indicator *ngIf="basketCounter > 0" [value]="basketCounter"></app-number-indicator>
      <fa-icon class="nav__icon nav__icon--tablet" routerLink="" [icon]="faShoppingBasket" size="2x"></fa-icon>
    </div>
    <fa-icon class="nav__icon nav__icon--tablet" routerLink="" [icon]="faUser" size="2x"></fa-icon>
    <fa-icon (click)="toggleMenu()" class="nav__icon nav__icon--hamburger" [icon]="menuIcon" size="2x"></fa-icon>
    <div class="nav__links">
      <a class="nav__link" routerLink="/bestsellers" routerLinkActive="nav__link--active">
        Bestsellers
      </a>
      <a class="nav__link" routerLink="/sales" routerLinkActive="nav__link--active">
        Sales
      </a>
      <a class="nav__link" routerLink="/new" routerLinkActive="nav__link--active">
        New
      </a>
      <a class="nav__link" routerLink="/browse" routerLinkActive="nav__link--active">
        Browse
      </a>
      <a class="nav__link" routerLinkActive="nav__link--active" routerLink="/about-us">
        About us
      </a>
      <a class="nav__link" routerLinkActive="nav__link--active" routerLink="/contact">
        Contact
      </a>
      <div class="nav__iconsContainer">
        <div class="nav__iconContainer nav__icon--mobile">
          <app-number-indicator *ngIf="basketCounter > 0" [value]="basketCounter"></app-number-indicator>
          <fa-icon class="nav__icon nav__icon--mobile" routerLink="" [icon]="faShoppingBasket" size="2x"></fa-icon>
        </div>
        <fa-icon class="nav__icon nav__icon--mobile" routerLink="" [icon]="faUser" size="2x"></fa-icon>
      </div>
    </div>
  </nav>
</header>
