<app-loading-spinner *ngIf="!book" color="#2B2D42"></app-loading-spinner>
<div *ngIf="book" class="product">
  <img class="product__img" [src]="book.coverPhoto" alt=""/>
  <p class="product__name">
    {{book.title}}
  </p>
  <p class="product__author">
    {{book.author}}
  </p>
  <p class="product__price">
    <span [class.product__price--discounted]="book.discountedPrice">{{book.price | currency:'&nbsp;'}}&nbsp;PLN</span>
    <span class="product__pricePromo" *ngIf="book.discountedPrice"> {{book.discountedPrice | currency:'&nbsp;'}}&nbsp;PLN</span>
  </p>
  <button class="product__button product__button--basket">
    Dodaj do koszyka
  </button>
  <button class="product__button product__button--buy">
    Kup teraz
  </button>
  <div class="product__info">
    <div class="product__tabs">
      <a (click)="changeActiveTab('description')" class="product__tab">
        Opis
      </a>
      <a (click)="changeActiveTab('details')" class="product__tab">
        Informacje
      </a>
      <a (click)="changeActiveTab('reviews')" class="product__tab">
        Opinie
      </a>
    </div>
    <div *ngIf="activeTab === 'description'">
      {{book.description}}
    </div>
    <div *ngIf="activeTab === 'details'">

    </div>
    <div *ngIf="activeTab === 'reviews'" class="product__reviews">
      <app-review *ngFor="let review of reviews"
                  class="product__review"
                  [review]="review">
      </app-review>
    </div>
  </div>

</div>

