.product {
  max-width: 1200px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "photo photo"
    "name name"
    "author price"
    "basket basket"
    "buy buy"
    "info info"
    "recommended recommended"
}

.product__img {
  width: 100%;
  grid-area: photo;
  max-width: 600px;
  margin: 0 auto;
}

.product__name {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  grid-area: name;
  margin: 0.6em 0 0.2em;
}

.product__author {
  grid-area: author;
  font-size: 1.2em;
  align-self: flex-end;
  color: #222;
}

.product__price {
  font-size: 1.3em;
  grid-area: price;
  text-align: right;
  align-self: flex-end;
}

.product__price--discounted {
  text-decoration: line-through;
  font-size: 0.95em;
}

.product__pricePromo {
  font-weight: 600;
  font-size: 1.05em;
  color: #ef233c;
}

.product__info {
  grid-area: info;
}

.product__tabs {
  display: flex;
}

.product__tab {
  background-color: #EDF2F4;
  padding: 10px;
  margin: 20px 0;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  transition: 0.2s;
  flex-grow: 1;
}

.product__tab--active {
  background-color: #2B2D42;
  color: white;
  font-weight: 600;
}

.product__button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin: 5px 0;
  padding: 15px;
  font-weight: 500;
  border: 0;
  font-size: 1.125em;
  color: white;
  border-radius: 0;
}

.product__button--basket {
  margin-top: 15px;
  grid-area: basket;
  background-color: #2B2D42;
}

.product__button--buy {
  grid-area: buy;
  background-color: #EF233C;
}

.product__description {
  font-size: 0.9375em;
  line-height: 1.4;
  color: #222;
}

.product__review:not(:last-of-type)::after {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  border-bottom: 2px solid #CCC;
  border-radius: 1px;
  margin: 12px 0;
}

.product__details {
  display: flex;
  flex-wrap: wrap;
}

.product__detail {
  width: 100%;
  font-size: 0.9375em;
  padding: 5px;
  border: 1px solid #CCC;
}

.product__detail:not(:last-of-type) {
  border-bottom: none;
}

.product__detail--label {
  background-color: #EDF2F4;
  font-weight: 600;
}

.product__detail--value {
  color: #222;
}

.product__recommendedBooks {
  grid-area: recommended;
  margin: 20px 0;
}

.product__recommendedTitle {
  background-color: #2B2D42;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  font-size: 1em;
  margin-bottom: 10px;
}

.product__getReviews {
  background-color: #EF233C;
  font-family: 'Raleway', sans-serif;
  padding: 10px;
  font-weight: 500;
  border: 0;
  font-size: 0.925em;
  color: white;
  margin: 10px auto;
  display: block;
  cursor: pointer;
}

.product__reviewsInfo {
  text-align: center;
  font-size: 0.85rem;
  color: #444;
  margin: 15px 0;
}
