<app-loading-spinner *ngIf="!book" color="#2B2D42"></app-loading-spinner>
<div *ngIf="book" class="product">
  <div class="product__container">
    <div class="product__imgContainer">
      <img class="product__img" [src]="book.imageLink" alt="" />
    </div>
    <mat-card class="product__basicInfo">
      <p class="product__name">
        {{book.title}}
      </p>
      <p class="product__author font-sm">
        {{book.authors}}
      </p>
      <p class="product__price">
        <span [class.product__price--discounted]="book.salePrice">{{book.price | currency:'&nbsp;'}}&nbsp;$</span>
        <span class="product__pricePromo" *ngIf="book.salePrice"> {{book.salePrice |
          currency:'&nbsp;'}}&nbsp;$</span>
      </p>
      <div class="d-flex flex-column gap-2">
        <button color="primary" mat-raised-button (click)="addToBasket(book.isbn)">
          <mat-icon>add_shopping_cart</mat-icon>
          Add to cart
        </button>
        <button color="primary" mat-stroked-button (click)="addToBasket(book.isbn, true)">
          Buy now
        </button>
      </div>
    </mat-card>
    <div class="product__additionalInfo mt-4">
      <div class="product__tabs">
        <span class="product__recommendedTitle text-decoration-none">
          Description
        </span>
      </div>
      <div class="product__description">
        {{book.description}}
      </div>
      <div class="product__details mt-4">
        <span class="product__recommendedTitle text-decoration-none">
          Book Details
        </span>
        <ng-container class="product__detailsContainer" *ngFor="let detail of details">
          <p class="product__detail product__detail--label">
            {{detail.label}}
          </p>
          <p *ngIf="!detail.customPipe" class="product__detail product__detail--value">
            {{detail.value}}
          </p>
          <p *ngIf="detail.customPipe" class="product__detail product__detail--value">
            {{detail.value | customDetail: detail.key}}
          </p>
        </ng-container>
      </div>
      <div *ngIf="activeTab === 'reviews'" class="product__reviews">
        <app-review *ngFor="let review of reviews" class="product__review" [review]="review">
        </app-review>
        <p *ngIf="reviewsNumber === 0" class="product__reviewsInfo">
          No reviews
        </p>
        <button mat-raised-button class="product__getReviews" *ngIf="this.skip < (this.reviewsNumber - this.limit)"
          (click)="getMoreReviews()">
          Load more reviews
        </button>
      </div>
    </div>
    <div class="product__recommendedBooks">
      <p class="product__recommendedTitle">
        Recommended for you
      </p>
      <app-book-carousel [books]="similarBooks"></app-book-carousel>
    </div>
  </div>
</div>