.product {
  max-width: 1200px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

.product__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product__imgContainer {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  position: relative;
}

.product__img {
  width: 100%;
}

.product__labels {
  position: absolute;
  left: -10px;
  top: 5px;
}

.product__basicInfo {
  display: flex;
  flex-wrap: wrap;
}


.product__name {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.4em;
  margin: 0.6em 0 0.2em;
  width: 100%;
}

.product__author {
  font-size: 1.2em;
  align-self: flex-end;
  color: #222;
  width: 50%;
}

.product__price {
  font-size: 1.3em;
  text-align: right;
  align-self: flex-end;
  width: 50%;
}

.product__price--discounted {
  text-decoration: line-through;
  font-size: 0.95em;
}

.product__pricePromo {
  font-weight: 600;
  font-size: 1.05em;
  color: #ef233c;
}

.product__tabs {
  display: flex;
}

.product__tab {
  background-color: #EDF2F4;
  padding: 10px;
  margin: 20px 0;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
  transition: 0.2s;
  flex-grow: 1;
}

.product__tab--active {
  background-color: #2B2D42;
  color: white;
  font-weight: 600;
}

.product__button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin: 5px 0;
  padding: 15px;
  font-weight: 500;
  border: 0;
  font-size: 1.125em;
  color: white;
  border-radius: 0;
  display: block;
  width: 100%;
}

.product__button--basket {
  margin-top: 15px;
  background-color: #2B2D42;
}

.product__button--buy {
  background-color: #D90429;
}

.product__description {
  font-size: 0.9375em;
  line-height: 1.4;
  color: #222;
}

.product__review:not(:last-of-type)::after {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  border-bottom: 2px solid #CCC;
  border-radius: 1px;
  margin: 12px 0;
}

.product__details {
  display: flex;
  flex-wrap: wrap;
}

.product__detail {
  width: 100%;
  font-size: 0.9375em;
  padding: 5px;
  border: 1px solid #CCC;
}

.product__detail:not(:last-of-type) {
  border-bottom: none;
}

.product__detail--label {
  background-color: #EDF2F4;
  font-weight: 600;
}

.product__detail--value {
  color: #222;
}

.product__recommendedBooks {
  margin: 20px 0;
}

.product__recommendedTitle {
  background-color: var(--accent-color);
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  font-size: 1em;
  margin-bottom: 10px;
}

.product__getReviews {
  /* background-color: #D90429; */
  /* font-family: 'Raleway', sans-serif;
  padding: 10px;
  font-weight: 500;
  border: 0;
  font-size: 0.925em;
  color: white;
  margin: 10px auto;
  display: block;
  cursor: pointer; */
}

.product__reviewsInfo {
  text-align: center;
  font-size: 0.85rem;
  color: #444;
  margin: 15px 0;
}

@media screen and (min-width: 660px) {
  .product__button {
    margin: 10px 5px 5px;
    width: calc(50% - 5px);
  }

  .product__button--buy {
    margin-right: 0;
  }

  .product__button--basket {
    margin-left: 0;
  }

  .product__detail {
    width: 50%;
    background-color: unset;
    border: 1px solid #CCC;
  }

  .product__detail:nth-child(4n+1),
  .product__detail:nth-child(4n+2) {
    background-color: #EDF2F4;
  }

  .product__detail {
    border-bottom: none;
  }

  .product__detail--label {
    border-right: none;
  }

  .product__detail:nth-last-of-type(-n + 2) {
    border-bottom: 1px solid #CCC;
  }
}

.font-sm {
  font-size: 16px !important;
}

@media screen and (min-width: 1200px) {
  .product__container {
    width: 800px;
  }

  .product__basicInfo {
    margin-left: 20px;
    position: fixed;
    width: 330px;
    left: calc(50% + 225px);
    flex-direction: column;
    padding: 30px 20px;
    /* box-shadow: 10px 10px 5px 0 rgba(70, 70, 70, 0.4); */
    /* background-color: #EDF2F4; */
  }

  .product__name {
    font-size: 1.65em;
    margin-top: 5px;
  }

  .product__author {
    width: 100%;
    font-size: 1.3em;
    margin: 5px 0;
  }

  .product__price {
    width: 100%;
    font-size: 1.4em;
    margin: 5px 0 25px;
  }

  .product__button {
    width: 100%;
    margin: 5px 0;
  }
}
