<form class="loginForm"
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()">
  <mat-form-field class="loginForm__field">
    <mat-label>Email address</mat-label>
    <input formControlName="email" type="email" matInput>
    <mat-error *ngIf="loginForm.controls.email.errors?.required">This field is required</mat-error>
    <mat-error *ngIf="loginForm.controls.email.errors?.email">Please enter proper email address</mat-error>
  </mat-form-field>
  <mat-form-field class="loginForm__field">
    <mat-label>Password</mat-label>
    <input formControlName="password" type="password" matInput>
    <mat-error *ngIf="loginForm.controls.password.errors?.required">This field is required</mat-error>
  </mat-form-field>
  <button [disabled]="!loginForm.valid || onGoingRequest" class="loginForm__submit" type="submit">Login</button>
</form>
