.userResolve {
  max-width: 1200px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
}

.userResolve__formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userResolve__heading {
  font-size: 1.4em;
  color: #2b2d42;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
}

.userResolve__form {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 25px 0;
  position: relative;
}

.userResolve__form:first-child::after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  border-bottom: 2px solid #CCC;
  bottom: 0;
  left: 10%;
}

@media screen and (min-width: 1200px) {
  .userResolve__heading {
    margin-bottom: 20px;
  }

  .userResolve__formContainer {
    flex-direction: row;
    justify-content: center;
  }

  .userResolve__form {
    display: block;
    width: 100%;
    max-width: 500px;
    padding: 0 50px;
  }

  .userResolve__form:first-child::after {
    content: unset;
  }

  .userResolve__form:nth-child(2):before {
    content: '';
    border-left: 2px solid #CCC;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 0;
  }
}
