.userData {
  max-width: 1200px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.userData__heading {
  color: #2b2d42;
  font-size: 1.6em;
  font-weight: 600;
  margin: 0.8em 0;
}

.userData__subHeading {
  color: #2b2d42;
  font-size: 1.4em;
  font-weight: 600;
  margin: 0.8em 0;
}

.userData__table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.userData__detail {
  width: 100%;
  font-size: 0.9375em;
  padding: 5px;
  border: 1px solid #CCC;
}

.userData__detail:not(:last-of-type) {
  border-bottom: none;
}

.userData__detail--label {
  background-color: #EDF2F4;
  font-weight: 600;
}

.userData__detail--value {
  color: #222;
}

.userData__logout {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin: 2em 0;
  padding: 10px;
  font-weight: 500;
  border: 0;
  font-size: 1.125em;
  color: white;
  border-radius: 0;
  width: 100%;
  max-width: 170px;
  background-color: #D90429;
  align-self: flex-end;
}

.userData__review:not(:last-of-type)::after {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  border-bottom: 2px solid #CCC;
  border-radius: 1px;
  margin: 12px 0;
}

.userData__order:not(:last-of-type)::after {
  content: '';
  display: block;
  position: relative;
  width: 80%;
  left: 10%;
  border-bottom: 2px solid #CCC;
  border-radius: 1px;
  margin: 12px 0;
}

.userData__disc {
  color: #444;
  margin: 0.5em 0;
  font-size: 0.75em;
  align-self: center;
}

.userData__reviewsContainer {
  width: 100%;
}

.userData__reviewBookTitle {
  color: #2b2d42;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  display: block;
  text-decoration: none;
  margin-bottom: 0.5em;
}

.userData__ordersContainer {
  width: 100%;
}

.userData__orderInfo {
  display: flex;
  color: #2b2d42;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5em;
  justify-content: space-between;
  align-items: center;
}

.userData__orderAdditionalInfo {
  color: #444;
  font-size: 0.9em;
}

.userData__orderIcon {
  cursor: pointer;
}

.userData__orderBooksContainer {
  transform-origin: top;
  overflow: hidden;
  transition: transform ease 0.3s;
}

.userData__orderedBook {
  margin: 0.5em;
}

@media screen and (min-width: 660px) {
  .userData__detail {
    width: 50%;
    background-color: unset;
    border: 1px solid #CCC;
  }

  .userData__detail:nth-child(4n+1),
  .userData__detail:nth-child(4n+2) {
    background-color: #EDF2F4;
  }

  .userData__detail {
    border-bottom: none;
  }

  .userData__detail--label {
    border-right: none;
  }

  .userData__detail:nth-last-of-type(-n + 2) {
    border-bottom: 1px solid #CCC;
  }
}
