<app-loading-spinner *ngIf="!userData" color="#2B2D42"></app-loading-spinner>
<div *ngIf="userData" class="userData">
  <h2 class="userData__heading">Profile Info</h2>
  <form [formGroup]="userForm">
    <div class="row">
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>User ID</mat-label>
        <input matInput formControlName="userId" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-3">
        <mat-label>wallet</mat-label>
        <input matInput formControlName="wallet" type="text" />
      </mat-form-field>
    </div>
    <h2 class="userData__heading">Favorite Genres</h2>
    <mat-form-field class="example-chip-list col-12" appearance="outline">
      <mat-label>Favorite Genres</mat-label>
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let genre of userGenres" (removed)="remove(genre)">
          {{genre}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New Genre..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
    </form>
  <div class="userData__ordersContainer">
    <!-- <div class="userData__order" *ngFor="let order of userData?.orders; index as i">
      <h3 class="userData__orderInfo">Order id: {{order.orderId}}
        <fa-icon [icon]="orderVisibility[i] ? faMinusSquare : faPlusSquare" class="userData__orderIcon" size="lg"
          (click)="toggleOrderVisibility(i)"></fa-icon>
      </h3>
      <p class="userData__orderAdditionalInfo">
        Order date: {{order.localDate | date:'dd/MM/YYYY' }}
      </p>
      <p class="userData__orderAdditionalInfo">
        Order price: {{order.totalPrice | currency:'&nbsp;'}}&nbsp;$
      </p>
      <p class="userData__orderAdditionalInfo">
        Order delivered: &#10003;
      </p>
      <div class="userData__orderBooksContainer"
        [ngStyle]="{transform: orderVisibility[i] ? 'scaleY(1)' : 'scaleY(0)', height: orderVisibility[i] ? 'max-content' : 0}">
        <app-book-order class="userData__orderedBook" [book]="getBookById(product.id)" [qty]="product.qty"
          [review]="isBookReviewed(product.id)" (addedReview)="addReview($event)"
          *ngFor="let product of order.items"></app-book-order>
      </div>
    </div> -->
  </div>
  <!-- <p class="userData__disc" *ngIf="userData?.orders?.length === 0 || userData.orders == null">
    No orders found (yet).
  </p> -->
  <!-- <h2 class="userData__subHeading">Your reviews</h2>
  <div class="userData__reviewsContainer" *ngIf="userData.reviews.length > 0 && booksData.length > 0">
    <div class="userData__review" *ngFor="let review of userData.reviews">
      <a routerLink="/book/{{review.bookId}}" class="userData__reviewBookTitle">
        {{getBookById(review.bookId).title}}
      </a>
      <app-review [review]="review"></app-review>
    </div>
  </div> -->
  <!-- <p class="userData__disc" *ngIf="userData.reviews.length === 0">
    No reviews found (yet).
  </p> -->
  <div class="d-flex align-items-center gap-2 mb-4">
    <button mat-raised-button color="primary" (click)="saveProfile()" class="userData__logout">
      <mat-icon>save</mat-icon>
      Save Profile
    </button>
  </div>
  <h2 class="userData__heading">Favorite Genres</h2>
  <table mat-table [dataSource]="orders" class="mat-elevation-z8 w-100 mt-4">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>Index</th>
      <td mat-cell *matCellDef="let element"> {{ element | json }} </td>
    </ng-container>
    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef>{{col}}</th>
      <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>
    <ng-container style="border-left: 1px solid black;" matColumnDef="actions" stickyEnd="true">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button matTooltip="show details" mat-button (click)="viewOrderDetails(element)"><mat-icon>visibility</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>