<div class="booksFilter">
  <p class="booksFilter__header">Find book for you</p>
  <mat-form-field class="booksFilter__searchContainer">
    <mat-label>Search</mat-label>
    <input (ngModelChange)="searchTermChange()" [(ngModel)]="booksFilter.searchPhrase" type="text" matInput placeholder="Value to search">
  </mat-form-field>
  <p class="booksFilter__header booksFilter__header--sub">Filter results</p>
  <p class="booksFilter__label">Publication date</p>
  <div class="booksFilter__dateContainer">
    <mat-form-field class="booksFilter__datePicker">
      <mat-label>From</mat-label>
      <input #startInput matInput [matDatepicker]="startPicker" (dateChange)="changeDate(startInput.value, 'from')">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="booksFilter__datePicker">
      <mat-label>To</mat-label>
      <input #endInput matInput [matDatepicker]="endPicker" (dateChange)="changeDate(endInput.value, 'to')">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
  </div>
  <mat-form-field>
    <mat-label>Genre</mat-label>
    <mat-select [(ngModel)]="booksFilter.genres" multiple>
      <mat-option *ngFor="let genre of genres" [value]="genre">
        {{genre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Sort by</mat-label>
    <mat-select [(ngModel)]="booksFilter.sortBy">
      <mat-option *ngFor="let method of sortMethods" [value]="method.value">
        {{method.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="booksFilter.sale" class="booksFilter__checkbox" color="primary">On sale</mat-checkbox>
  <mat-checkbox [(ngModel)]="booksFilter.bestseller" class="booksFilter__checkbox" color="primary">Bestsellers</mat-checkbox>
  <mat-checkbox [(ngModel)]="booksFilter.new" class="booksFilter__checkbox" color="primary">New</mat-checkbox>
  <button (click)="filterBooks()" class="booksFilter__button">Filter results</button>
</div>
