.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
}

.registerForm__field {
  transition: margin-bottom linear 0.1s;
  width: 100%;
}

.registerForm__submit {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  margin: 15px 0;
  padding: 10px;
  font-weight: 500;
  border: 0;
  font-size: 1.125em;
  color: white;
  border-radius: 0;
  width: 100%;
  max-width: 170px;
  background-color: #D90429;
}

.registerForm__submit[disabled] {
  background-color: #D9042999;
}

.registerForm__customError {
  font-size: 75%;
  width: 100%;
  text-align: left;
  letter-spacing: 0.0333em;
}
