.aboutUs {
  max-width: 1200px;
  margin: 0 auto;
  color: #2B2D42;
  padding: 25px;
}

.aboutUs__header {
  text-align: center;
  font-weight: 600;
}

.aboutUs__story {
  text-align: center;
  margin: 15px 0;
}

.aboutUs__subHeader {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}
