<div class="aboutUs">
  <h1 class="aboutUs__header">
    Our story
  </h1>
  <p class="aboutUs__story">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis eleifend ultrices. Fusce ac eros
    felis. Quisque non dignissim risus, quis feugiat nunc. Nam aliquet ipsum dolor, id pellentesque est ullamcorper at.
    Donec mollis justo massa, sit amet gravida augue dignissim at. Vestibulum et eros elementum, ullamcorper nunc eu,
    eleifend mauris. In hac habitasse platea dictumst. In varius, libero vel dapibus gravida, metus libero eleifend
    metus, ut placerat velit lorem a leo. Sed sit amet viverra enim. Sed tempor pharetra turpis. Etiam consectetur
    eleifend lorem, eget blandit nisl pellentesque a. Ut tristique dapibus metus. Ut vitae elementum metus.
    <br><br>
    Curabitur eget metus eleifend, gravida diam ut, volutpat metus. Lorem ipsum dolor sit amet, consectetur adipiscing
    elit. Pellentesque velit ligula, suscipit id euismod nec, venenatis ac dui. Donec a nisl porta, viverra velit et,
    fringilla orci. Ut accumsan sed tortor eget lacinia. Pellentesque at lacus pulvinar nisl pretium pellentesque.
    Suspendisse potenti. Proin tempor diam eu augue aliquet, et egestas ex tristique. Aenean sed massa sagittis, finibus
    augue ac, lacinia elit. Aenean ac ante convallis, venenatis eros at, tempus turpis.
    <br><br>
    Vivamus feugiat purus diam, a consectetur orci semper vel. Nam cursus eu dui ut porttitor. Vestibulum bibendum justo
    eget turpis egestas, vel imperdiet mauris porttitor. Curabitur a enim venenatis metus rutrum molestie. Nullam
    blandit ex quis elit dapibus volutpat. Vestibulum mi turpis, eleifend in odio et, laoreet rhoncus dolor. Etiam
    consectetur, nisi vel finibus pretium, purus nisl condimentum tortor, eget pellentesque lacus quam et ante. Aliquam
    convallis sem ut lectus pretium pulvinar. Nullam orci orci, ultricies non dolor nec, sodales rutrum nisi.
  </p>
  <h2 class="aboutUs__subHeader">
    Check us out on social media
  </h2>
  <app-socials>

  </app-socials>
</div>
