<h3 mat-dialog-title>Order Details</h3>
<div class="mat-dialog-content">
  <form [formGroup]="form">
    <div class="row">
      <!-- <mat-form-field *ngFor="let field of fields" class="col-4" appearance="outline">
        <mat-label>{{field.name}}</mat-label>
        <input matInput [type]="field.type" [formControlName]="field.name" />
      </mat-form-field> -->
    </div>
    <mat-form-field appearance="outline" class="col-12">
      <mat-label>Description</mat-label>
      <textarea rows="10" matInput formControlName="description"></textarea>
    </mat-form-field>

  </form>
</div>
<div class="mat-dialog-actions justify-content-end">
  <button mat-dialog-close mat-button cdkFocusInitial>close</button>
</div>