<h3 mat-dialog-title>Order Details</h3>
<div class="mat-dialog-content">
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Date</mat-label>
        <input matInput formControlName="date" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Total Price</mat-label>
        <input matInput formControlName="totalPrice" />
        <mat-icon matSuffix>attach_money</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Role</mat-label>
        <mat-select formControlName="status">
          <mat-option value="CONFIRMED">Confirmed</mat-option>
          <mat-option value="SHIPPED">Shipped</mat-option>
          <mat-option value="OUT_FOR_DELIVERY">Out for delivery</mat-option>
          <mat-option value="DELIVERED">Delivered</mat-option>
        </mat-select>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-4">
        <mat-label>Phone NO</mat-label>
        <input matInput formControlName="phoneNo" />
      </mat-form-field>
    </div>
  </form>
  <h5>Cart</h5>
  <div class="my-3">
    <mat-card *ngFor="let item of cartItems" class="mb-3 item-card">
      <mat-card-subtitle>{{item.isbn}}</mat-card-subtitle>
      <mat-card-title class="font-smaller">{{item.book.bookTitle}}</mat-card-title>
      <mat-card-content>
        <span>{{item.book.bookAuthors.join(' - ').toString()}}</span>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions class="d-flex gap-4">
        <div class="d-flex flex-column align-items-center gap-2">
          <span class="font-sm text-black-50">Quantity</span>
          <span>{{item.book.quantity}}</span>
        </div>
        <div class="d-flex flex-column align-items-center gap-2">
          <span class="font-sm text-black-50">Price</span>
          <span>{{item.book.price | currency}}</span>
        </div>
        <div class="d-flex flex-column align-items-center gap-2">
          <span class="font-sm text-black-50">Total Price</span>
          <span>{{item.book.totalPrice | currency}}</span>
        </div>
      </mat-card-actions>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<div class="mat-dialog-actions justify-content-end">
  <button mat-dialog-close mat-button cdkFocusInitial>close</button>
</div>