.main {
  max-width: 1200px;
  padding: 25px;
  width: 100%;
  margin: 0 auto;
  min-height: 85vh;
}

.main_spinner {
  width: 100%;
}

.main__banner {
  margin-bottom: 25px;
  width: calc(100% + 50px);
  position: relative;
  left: -25px;
  object-fit: cover;
  min-height: 240px;
}

.main_subBanner {
  margin: 15px 0;
  width: calc(100% + 50px);
  position: relative;
  left: -25px;
  object-fit: cover;
  min-height: 120px;
}

.main__carouselTitle {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  font-size: 1em;
  margin-bottom: 10px;
}

.main__carouselTitle--bestseller {
  background-color: #ef233c;
}

.main__carouselTitle--new {
  background-color: #2B2D42;
}

.main__carouselTitle--sale {
  background-color: #D90429;
}

.main__carousel {
  margin-bottom: 15px;
}

@media screen and (min-width: 660px) {
  .main__banner {
    width: 100%;
    position: static;
    object-fit: initial;
    min-height: unset;
  }

  .main_subBanner {
    width: 100%;
    position: static;
    object-fit: initial;
    min-height: unset;
  }
}
