<mat-card class="d-flex flex-column align-items-end gap-2">
  <div>
    <button (click)="removeBook()" mat-button color="warn" class="shadow-none align-self-start">
      remove
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div class="bookCart">
    <div class="bookCart__infoContainer">
      <a class="bookCart__anchor" routerLink="/book/{{book.isbn}}">
        <h4 class="bookCart__title">{{book.bookTitle}}</h4>
      </a>
      <p class="bookCart__info">
        ISBN: {{book.isbn}}
      </p>
      <p class="bookCart__price">
        <span [class.bookCart__price--discounted]="book.onSale">{{book.price | currency:'&nbsp;'}}&nbsp;$</span>
        <span class="bookCart__pricePromo" *ngIf="book.onSale"> {{book.salePrice| currency:'&nbsp;'}}&nbsp;$</span>
      </p>
      <p class="bookCart__qty">
        Qty:
        <button (click)="changeQty(-1)" mat-icon-button color="primary"><mat-icon>remove_circle</mat-icon></button>
        {{book.quantity}}
        <button (click)="changeQty(1)" mat-icon-button color="primary"><mat-icon>add_circle</mat-icon></button>
      </p>
      <p>Total Price: {{book.totalPrice}}</p>
    </div>
    <a class="bookCart__anchor" routerLink="/book/{{book.isbn}}">
      <img class="bookCart__cover" src="{{book.bookImage}}" [alt]="book.title">
    </a>
  </div>
</mat-card>