.bookCart {
  width: 100%;
  display: flex;
  margin: 0.5em 0;
}

.bookCart {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bookCart__cover {
  display: none;
}

.bookCart__infoContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.bookCart__title {
  color: #2b2d42;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.bookCart__button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  padding: 0.5em;
  font-weight: 500;
  border: 0;
  font-size: 1em;
  color: white;
  border-radius: 0;
  width: 100%;
  max-width: 150px;
  background-color: #D90429;
  margin-top: 0.5em;
}

.bookCart__info {
  color: #2b2d42;
  font-size: 0.9em;
}

.bookCart__qty {
  margin: 0.5em 0;
  color: #2b2d42;
  font-size: 1.1em;
}

.bookCart__icon {
  font-size: 1.2em;
  margin: 0.25em;
}

.bookCart__disc {
  color: #444;
  margin-top: 0.5em;
  font-size: 0.8em;
}

.bookCart__anchor {
  text-decoration: none;
}

.bookCart__price {
  font-size: 1.2em;
  margin: 0.25em 0;
}

.bookCart__price--discounted {
  text-decoration: line-through;
  font-size: 0.95em;
}

.bookCart__pricePromo {
  font-weight: 600;
  font-size: 1.05em;
  color: #ef233c;
}

@media screen and (min-width: 660px) {
  .bookCart__cover {
    display: block;
    margin-right: 1em;
    width: 225px;
    max-height: 225px;
  }

  .bookCart__infoContainer {
    align-items: flex-end;
  }

  .bookCart__disc, .bookCart__button {
    margin-top: 1em;
  }

}
