.bookCarousel__item {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.bookCarousel__button {
  position: absolute;
  top: 50%;
  height: 35px;
  width: 35px;
  border: none;
  background-color: #2B2D42;
  color: white;
  z-index: 10;
}

.bookCarousel__button--prev {
  left: 0;
}

.bookCarousel__button--next {
  right: 0;
}
