<ngu-carousel class="bookCarousel" #bookCarousel [inputs]="carouselConfig" [dataSource]="books">
  <div class="item" *nguCarouselDef="let book;">
    <app-book-carousel-item class="bookCarousel__item" [book]="book"></app-book-carousel-item>
  </div>
  <button mat-fab NguCarouselNext class="bookCarousel__button bookCarousel__button--next">
    <mat-icon class="py-0">navigate_next</mat-icon>
  </button>
  <button mat-fab NguCarouselPrev class="bookCarousel__button bookCarousel__button--prev">
    <mat-icon>chevron_left</mat-icon>
  </button>
</ngu-carousel>
