<div class="table-wrapper p-2 position-relative">
  <div class="d-flex justify-content-end my-2">
    <button (click)="openBookDialog(null, false)" mat-raised-button color="primary" class="d-flex align-items-center">
      <mat-icon>add</mat-icon>
      Add book
    </button>
  </div>
  <div class="example-loading-shade" *ngIf="loading">
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <table mat-table [dataSource]="books" class="mat-elevation-z8 w-100">

    <ng-container *ngFor="let col of displayedColumns" [matColumnDef]="col">
      <th mat-header-cell *matHeaderCellDef>{{col}}</th>
      <td mat-cell *matCellDef="let element"> {{element[col]}} </td>
    </ng-container>
    <ng-container style="border-left: 1px solid black;" matColumnDef="actions" stickyEnd="true">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="deleteBook(element)"><mat-icon>delete</mat-icon></button>
        <button mat-button (click)="openBookDialog(element)"><mat-icon>edit</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
  <mat-paginator [length]="resultLength" [pageSize]="20"
    aria-label="Select page of GitHub search results"></mat-paginator>

</div>