<mat-card class="product">
  <a class="product__imgContainer">
    <img [alt]="book.title" class="product__img" [src]="book.imageLink">
  </a>
  <p class="product__name">
    {{book.title}}
  </p>
  <p class="product__author">
    {{book.authors}}
  </p>
  <p class="product__price">
    <span [class.product__price--discounted]="book.onSale">{{book.price | currency}}</span>
    <span class="product__pricePromo" *ngIf="book.onSale"> {{book.salePrice | currency}}</span>
  </p>
  <div class="product__buttons gap-2">
    <button mat-stroked-button routerLink="/book/{{book.isbn}}" class="w-100">
      See more
    </button>
    <button mat-flat-button color="primary" (click)="addToBasket(book.isbn)">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </div>

</mat-card>