<div class="product">
  <div class="product__box">
    <a routerLink="/book/{{book.id}}" class="product__imgContainer">
      <app-book-labels class="product__labels" [book]="book"></app-book-labels>
      <img [alt]="book.title" class="product__img" [src]="book.coverPhoto">
    </a>
    <p class="product__name">
      {{book.title}}
    </p>
    <p class="product__author">
      {{book.author}}
    </p>
    <p class="product__price">
      <span [class.product__price--discounted]="book.discountedPrice">{{book.price | currency:' '}} PLN</span>
      <span class="product__pricePromo" *ngIf="book.discountedPrice"> {{book.discountedPrice | currency:' '}}
        PLN</span>
    </p>
    <div class="product__buttons">
      <a routerLink="/book/{{book.id}}" class="product__button product__button--seeMore">
        See more
      </a>
      <button (click)="addToBasket(book.id)" class="product__button product__button--basket">
        <fa-icon [icon]="faShoppingBasket"></fa-icon>
      </button>
    </div>
  </div>
</div>
