.product {
  width: 100%;
}

.product__box {
  padding: 25px;
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  box-shadow: 10px 10px 5px 0 rgba(70, 70, 70, 0.4);
  background-color: #EDF2F4;
}

.product__imgContainer {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.product__labels {
  position: absolute;
  left: -10px;
  top: 5px;
}

.product__img {
  max-width: 100%;
  max-height: 100%;
}

.product__name {
  font-family: 'Raleway', sans-serif;
  font-size: 1.125em;
  line-height: 1.3em;
  height: 2.6em;
  overflow: hidden;
  font-weight: 600;
}

.product__author {
  margin: 4px 0 7px;
  font-size: 0.95em;
  color: #222;
}

.product__price--discounted {
  text-decoration: line-through;
  font-size: 0.95em;
}

.product__pricePromo {
  font-weight: 600;
  font-size: 1.125em;
  color: #ef233c;
}

.product__price {
  margin-bottom: 15px;
  min-height: 24px;
}

.product__button {
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  padding: 8px 0;
  color: #fff;
  font-size: 1.0625rem;
}

.product__button--seeMore {
  background-color: #2B2D42;
  width: 75%;
  text-decoration: none;
  font-weight: 500;
}

.product__button--basket {
  background-color: #D90429;
  width: 20%;
  border: none;
  border-radius: 0;
}

.product__buttons {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
  margin: 0 auto;
}

@media screen and (min-width: 920px) {
  .product {
    position: relative;
  }

  .product__box {
    transition: 0.1s;
  }

  .product__buttons {
    display: none;
  }

  .product:hover .product__box {
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 5px 0 rgba(26, 26, 26, 0.6);
  }

  .product:hover {
    width: 110%;
    height: 110%;
    z-index: 5;
    bottom: 5%;
    right: 5%;
  }

  .product:hover .product__buttons {
    display: flex;
  }
}
